.profile-image {
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.site-container {
    padding-top: 80px;
}

.icon {
    height: 21px;
    width: 21px;
    display: flex;
    svg {
        width: 21px;
        height: 21px;
    }
}

.icon.grey svg path {
    fill: #999;
}

.icon.red svg path {
    fill: #A00;
}

.list-title {
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    background-color: rgba(255,255,255,0.1);
}

.navbar-toggler.collapsed {
    background-color: transparent;
}

h2[id]::before {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
    content: "";
}

.sticky-top.space-before {
    padding-top: 80px;
    margin-top: -80px;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
    }
    .jumbotron {
        padding: 0;
    }
    .badge {
        border: 0 !important;
    }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개 */
  gap: 16px;
}

.grid-item {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px; // 박스 최소 높이 추가
}

.grid-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.grid-item h4 {
  margin: 0;
}
